{% extends "account/base_entrance.html" %}

{% load i18n %}
{% load allauth %}
{% load crispy_forms_filters %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="message-container">
            <h2>
                {% trans "Bad Token" %}
            </h2>
            <p>
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                    Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
            </p>
        </div>
    {% else %}
        <div class="auth-form-container">
            <h1 class="card-title mb-5 mt-3 text-center">
                {% trans "Change Password" %}
            </h1>
            <form action="{{ action_url }}" method="post" class="auth-form mb-4">
                {% csrf_token %}
                <div class="form-text-muted">
                    {{ form|crispy }}
                </div>
                <div class="mt-4">
                    <button type="submit" name="action"
                            class="btn btn-primary btn-block">{% trans "Change Password" %}</button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock content %}
