{% extends "account/base_manage_password.html" %}

{% load allauth i18n %}
{% load crispy_forms_filters %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
    <div class="auth-form-container">
        <h1 class="card-title mb-5 mt-3 text-center">{% trans "Change Password" %}</h1>
        {% url 'account_change_password' as action_url %}
        <form action="{{ action_url }}" method="post" class="auth-form mb-4">
            {% csrf_token %}
            <div class="form-text-muted">
                {{ form|crispy }}
            </div>
            <div class="mt-4">
                <button type="submit"
                        class="btn btn-primary btn-block">{% trans "Change Password" %}</button>
            </div>
        </form>
        <a href="{% url 'account_reset_password' %}"
           class="text-muted">{% trans "Forgot Password?" %}</a>
    </div>

{% endblock content %}
