{% extends 'allauth/layouts/entrance.html' %}

{% load allauth %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block head_title %}
    {% trans "Confirm Access" %}
{% endblock head_title %}

{% block content %}
    <div class="auth-form-container">
        <h1 class="card-title mb-5 mt-3 text-center">{% trans "Confirm Access" %}</h1>
        <p>{% blocktranslate %}Please reauthenticate to safeguard your account.{% endblocktranslate %}</p>
        <p>{% blocktranslate %}Enter your password:{% endblocktranslate %}</p>
        {% url 'account_reauthenticate' as action_url %}
        <form action="{{ action_url }}" method="post" class="auth-form mb-4">
            {% csrf_token %}
            <div class="form-text-muted">
                {{ form|crispy }}
            </div>

            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}"/>
            {% endif %}

            <div class="mt-4">
                <button type="submit"
                        class="btn btn-primary btn-block">{% trans "Confirm" %}</button>
            </div>
        </form>
    </div>
{% endblock %}
