{% extends '_base.html' %}

{% load i18n %}
{% load static %}

{% block title %}
    {% trans 'Introducing the list of my projects: works of my efforts and creativity' %}
{% endblock title %}

{% block content %}

    <div class="container mt-120">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h1 class="title">{% trans 'Projects &amp; Works' %}</h1>
                </div>
            </div>  <!--end col-->
        </div><!--end row-->
    </div>
    <!-- Projects End -->
    <section class="section">
        <div class="container">
            <!-- Gallary -->
            <!-- Gallary -->
            <div id="grid" class="row">
                {% for project in projects %}
                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item">
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden">
                            <div class="portfolio-box-img position-relative overflow-hidden">
                                <img class="item-container img-fluid mx-auto" src="{{ project.main_image_url }}"
                                     alt="{{ project.title }}">
                                <div class="overlay-work">
                                    <div class="work-content text-center">
                                        <a href="{{ project.main_image_url }}"
                                           class="lightbox text-light work-icon bg-dark d-inline-block rounded-pill "><i
                                                data-feather="camera" class="fea icon-sm image-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallary-title py-4 text-center">
                                <h5><a href="{{ project.get_absolute_url }}"
                                       class="title text-dark">{{ project.title }}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div><!-- End row -->
            <div class="mt-5">
                {% include 'portfolio/project/_pagination.html' %}
            </div>
        </div><!--end container-->

    </section><!--end section-->
    <!-- Contact End -->
{% endblock content %}
