{% extends '_base.html' %}

{% load crispy_forms_filters %}
{% load mptt_tags %}
{% load jalali_tags %}
{% load static %}
{% load i18n %}
{% load trans_fa %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}

    <!-- Home Start -->
    <section class="bg-half d-table w-100"
             style="background: url('{% static 'images/home/bg-blog-detail.jpg' %}')center center;">
        <div class="bg-overlay bg-overlay-white"></div>
        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="page-next-level">
                        <h4 class="title"> {{ post.title }} </h4>
                        <ul class="list-unstyled mt-3">
                            <li class="list-inline-item me-3"><i class="mdi mdi-tag-outline me-1"></i><a
                                    href="{{ post.category.get_absolute_url }}"
                                    class="text-muted" style="color: #56667d !important;">{{ post.category.name }}</a>
                            </li>
                            <li class="list-inline-item me-3"><i class="mdi mdi-account-heart me-1"></i><a
                                    href="{% url 'portfolio:home_page' %}"
                                    class="text-muted">{% trans 'Ali Sirjani' %}</a></li>
                            <li class="list-inline-item"><i class="mdi mdi-calendar-edit me-1"></i><span
                                    class="text-muted">{{ post.datetime_updated|to_jalali:'%Y/%m/%d'|num_fa }}</span></li>
                        </ul>
                    </div>
                </div>  <!--end col-->
            </div><!--end row-->
        </div> <!--end container-->
    </section><!--end section-->
    <!-- Home End -->

    <!-- Blog STart -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-4">
                    <div class="sticky-sidebar">
                        {% for image in post.images.all %}
                            {% if image.is_main %}
                                <img src="{{ image.image.url }}" class="img-fluid rounded d-block"
                                     alt="{{ post.title }}">
                            {% else %}
                                <img src="{{ image.image.url }}" class="img-fluid rounded mt-4" alt="{{ post.title }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!-- BLog Start -->
                <div class="col-lg-7 col-md-8 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="blog position-relative overflow-hidden shadow rounded">
                        <div class="content p-4">
                            <h6 class="font-weight-normal"><i class="mdi mdi-tag text-primary me-1"></i><a
                                    href="{{ post.category.get_absolute_url }}"
                                    class="text-primary">{{ post.category.name }}</a></h6>
                            <p class="text-muted mt-3">{{ post.description|safe }}</p>
                            <div class="post-meta mt-3">
                                <ul class="list-unstyled mb-0">
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="text-muted comments">
                                            <i class="mdi mdi-comment-outline me-1"></i>{{ comments|length|num_fa }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4 pt-2 comment-area ">
                        <div class="p-4 shadow rounded">
                            <h5 class="page-title pb-3">{% trans 'Comments' %} :</h5>

                            <ul class="media-list list-unstyled mb-0">
                                {% recursetree comments %}
                                    <li class="d-flex mt-4">
                                        <a class="float-left pe-3 mt-2" href="javascript:void(0)">
                                            <img class="img-fluid d-block mx-auto  rounded-circle"
                                                 src="{{ node.author.profile.picture.url }}" alt="img"
                                                 style="width: 60px; height: 60px;">
                                        </a>
                                        <div class="flex-1" style="width: 100%">
                                            <a class="float-right text-muted reply-btn" data-id="{{ node.id }}"
                                               type="button" data-comment-text="{{ node.text|truncatechars:15 }}">
                                                {% trans 'Reply' %} <i class="mdi mdi-reply"></i>&nbsp;
                                            </a>
                                            <h6 class="media-heading mb-0"><a href="javascript:void(0)"
                                                                              class="text-dark">{{ node.author }}</a>
                                            </h6>
                                            <small class="text-muted">{{ node.datetime_updated|to_jalali:'%Y/%m/%d'|num_fa }}</small>
                                            <p class="mt-2 bg-light font-italic media-para text-muted rounded pt-3 pb-3 ps-4 pe-3 mb-0">
                                                {{ node.text }}
                                            </p>
                                            {% if not node.is_leaf_node %}
                                                <ul class="children list-unstyled">
                                                    {{ children }}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endrecursetree %}
                            </ul>

                        </div>
                    </div>

                    <div class="mt-4 pt-2">
                        <div class="p-4 shadow rounded">
                            <h5 class="page-title pb-3">{% trans 'Leave A Comment' %} :</h5>
                            <form method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="col-md-12">
                                    <div class="send">
                                        <button type="submit"
                                                class="btn btn-primary rounded">{% trans 'Send comment' %}</button>
                                    </div>
                                </div><!--end col-->
                            </form><!--end form-->
                        </div>
                    </div>
                </div>
                <!-- BLog End -->
            </div><!--end row-->
        </div><!--end container-->

        <div class="mt-100 mt-60">
            {% include 'portfolio/_recent_or_related_posts.html' with blog_entries=related_posts is_related='True' %}
        </div>

    </section>
    <!-- Blog -->

    <div class="overlay-form" id="overlay">
        <div id="form-container" class="overlay-form-container mt-5 p-4">
            <!-- Your form content goes here -->
            <div id="close-btn" class="form-close-btn mb-4" onclick="hideForm()">&times;</div>
            <h4 class="mb-3 mt-4">{% trans 'Reply To' %} :</h4>
            <h5 class="title-2 mb-4" id="commentReplyText"></h5>
            <form method="post" id="commentForm">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form|crispy }}
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">
                        {% trans 'Post Comment' %}
                    </button>
                </div>
            </form>
        </div>
    </div>


{% endblock content %}

{% block script %}
    <script>
        function hideForm() {
            document.getElementById('overlay').style.display = 'none';
        }

        replyesBtns = document.getElementsByClassName('reply-btn')
        console.log(replyesBtns.length)
        for (var i = 0; i < replyesBtns.length; i++) {
            replyesBtns[i].addEventListener('click', function () {
                document.getElementById('overlay').style.display = 'flex';
                console.log('this is log: ', this.dataset.commentText.toString())
                document.getElementById('commentReplyText').innerText = this.dataset.commentText.toString();
                var commentForm = document.getElementById('commentForm')
                commentForm.elements['parent'].value = this.dataset.id;
            })
        }
    </script>
{% endblock script %}
